$FIELDS_COUNT: 25;
$WIDTH: 50px;
$HEIGHT: 50px;

h1 {
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;

  width: calc($WIDTH * sqrt($FIELDS_COUNT));
  margin: 50px auto 0;
}

.field {
  border: 1px solid grey;
  width: $WIDTH;
  height: $HEIGHT;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: none;
    font-weight: bolder;
    font-size: 25px;

    &.mole {
      display: block;
    }
  }
}

.score {
  max-width: calc($WIDTH * sqrt($FIELDS_COUNT) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  button {
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .score {
    flex-direction: column;
  }

  .main {
    margin: 20px auto 0;
  }

  h2 {
    margin: 5px;
    padding: 0;
  }

  button {
    height: 40px;
    width: 200px;
    order: 1;
    font-size: 20px;
    margin-top: 8px;
  }

}

@media (hover: hover) {
  .field:hover {
    background-color: #e4e4e4;
  }
}

@media (hover: none) {
  .field:active {
    background-color: #e4e4e4;
  }
}