@use '../styles_var.scss';

h1 {
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--cell-width) * sqrt(styles_var.$FIELDS_COUNT));
  margin: 50px auto 0;
}

.field {
  border: 1px solid grey;
  width: var(--cell-width);
  height: var(--cell-width);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: none;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 7px;

    &.mole {
      display: block;
    }
  }
}

.score {
  max-width: calc(var(--cell-width) * sqrt(styles_var.$FIELDS_COUNT) * 2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px auto;

  button {
    cursor: pointer;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 550px) {
  .score {
    flex-direction: column;
  }

  .field div {
    font-size: 55px;
  }

  .main {
    margin: 20px auto 0;
  }

  h2 {
    margin: 5px;
    padding: 0;
  }

  button {
    height: 80px;
    width: 200px;
    order: 1;
    font-size: 20px;
    margin-top: 8px;
  }


}

@media (hover: hover) {
  .field:hover {
    background-color: styles_var.$HOVER_COLOR;
  }
}

@media (hover: none) {
  .field:active {
    background-color: styles_var.$HOVER_COLOR;
  }
}